/* ==========================================================================
   Estilos - Globales
   ========================================================================== */
*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 10px;
  background: rgb(160, 160, 160);
}
::-webkit-scrollbar-button{
  width:8px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background: rgb(241, 241, 241);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(188, 188, 188);
  -webkit-box-shadow:   inset 0 1px 0 rgba(188,188,188,.5),
                inset 1px 0 0 rgba(188,188,188,.4),
                inset 0 1px 2px rgba(188,188,188,.3);

  border-radius: 10px;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(160, 160, 160);
}

html,
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

/*Section contact*/
::-webkit-input-placeholder { color: rgb(255, 255, 255); }
:-moz-placeholder { color: rgb(255, 255, 255); }
::-moz-placeholder { color: rgb(255, 255, 255); }
:-ms-input-placeholder { color: rgb(255, 255, 255); }
input,
textarea{
	background: none;
	border: none;
	outline: none;
}
a{
	color: rgb(106, 196, 238);
}
a:active {
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
address{
	font-style: normal;
}
button{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
h1{
	font-weight: 700;
}
h1,
h2,
h3,
h4,
h5{

}
h2{
	font-weight: 700;
	font-size: 3em;
}
h4{
	font-size: 1.5em;
}
.clear{
	clear: both;
}
.float-L{
	float: left;
}
.float-R{
	float: right;
}
.hidden{
	display: none;
}
.pointer{
	cursor: pointer;
}
q{
	font-style: italic;
}
.centrarHeight{
	width: 100%;
	background: none;
}
.row{
	display: inline-block;
}
p{
	font-weight: 300;
	font-size: 1.2em;
}
strong{
	font-weight: 400;
}
section{
	width: 100%;
	text-align: center;
}

/*Parallax*/
.parallax{
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/**
 * Estilos de validaciones del formulario
 */

.parsley-errors-list {
  padding: 0px;
  list-style-type: none;
  text-align: left;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.parsley-errors-list{
  color: rgba(0,0,0,0.81);
  font-size: 12px;
  font-style: italic;
  padding-left: 20px;
}


/**
 * Stilos para los mensajes que se enviaran al usuario
 */
#sucesos{
	position: fixed;
	top: 60px;
	left: 0;
	display: block;
	text-align: right;
}
.msj_suceso{
	padding: 10px 50px;
	background-color: silver;
	display: inline-block;
	width: 100%;
	text-align: left;
	position: relative;
	border-bottom: 1px solid black;
}
.event_close{
	position: absolute;
	right: 20px;
	font-size: 15px;
	font-weight: bold;
	color: black;
	top: calc(50% - 8px);
}

/**
 * Botones
 */

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}