/**
 * Login stilos
 */
@import url('global.css');

#login-container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('../img/bg_login.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#login-container h1{
	color: white;
	font-size: 70px;
	width: 100%;
	text-align: center;
	margin: 40px auto;
}
#login-container form{
	width: 50%;
	margin: auto;
}
#login-container input{
	border-radius: 10px;
	margin: 30px 0 2px 0;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding: 20px 10px;
	border: 2px solid rgba(255,255,255,0.3);
	color: white;
	background-color: rgba(0,0,0,0.5);
}
#login-container button{
	width: 100%;
	padding: 20px;
	margin-top: 30px;
}
.parsley-errors-list{
  color: orange;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(0,0,0,.5);
}