/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(global.css);

#menu{
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.9);
	color: white;
}

#menu ul{
	width: 100%;
	text-align: right;
}
#menu ul li{
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
}
#menu ul li a{
	color: white;
}
#menu ul li:hover{
	color: silver;
}

#container-banner{
	display: block;
	width: 100%;
	background-color: silver;
}
#container-banner img{
	width: 100%;
	height: auto;
}
#productos{
	display: block;
	width: 100%;
}
#contacto{
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px 30px;
	background-image: url('../img/bg_contacto.jpg');
}
#contacto form{
	display: block;
	width: 60%;
	margin: 40px auto 20px auto;
	text-align: right;
}
#contacto form input,
#contacto form textarea{
	display: block;
	width: 100%;
	color: white;
}
#contacto form input,
#contacto form textarea{
	border-radius: 10px;
	padding: 10px;
	border: 1px solid white;
	margin: 10px 0;
}
#contacto form button{
	background-color: white;
	padding: 5px 10px;
	border-radius: 5px;
}

#pie_page{
	width: 100%;
	text-align: left;
	padding: 20px 30px;
	font-style: italic;
	font-size: 11px;
	background-color: black;
	color: white;
}


#productos{
	width: 100%;
	display: block;
	margin: 20px auto;
	text-align: center;
}

#productos .row{
	display: inline-block;
	width: 300px;
	margin: 5px;
	vertical-align: top;
	overflow: hidden;
	border: 1px solid black;
}

#productos .row h2{
	display: block;
	margin: 5px;
	font-size: 15px;
}

#productos .row img{
	width: 90%;
	height: auto;
	display: block;
	margin: 5px auto;
}

#productos .row p{
	width: 100%;
	display: block;
	padding: 5px 20px;
}