/**
 * Stilos para admins
 */
.container-admins{
	margin-top: 50px;
}
.container-banners form{
	padding: 20px 50px;
	width: 100%;
	text-align: left;
	position: relative;
	border-bottom: 1px solid black;
}

.container-banners input,
.container-banners button{
 	display: inline-block;
 	width: auto;
}
.container-banners button{
	padding: 5px 15px;
	color: black;
	position: absolute;
	right: 50px;
	top: 15px;
	border: 1px solid silver;
}

#allbanners img{
	width: 200px;
	display: inline-block;
	height: auto;
	margin: 15px;
}
#allbanners img.ACTIVO{
	border: 10px solid green;
}
#allbanners img{
	cursor: pointer;
}

#new_producto{
	width: 100%;
	display: block;
	margin: 30px auto;
	padding: 0 100px;
}
#new_producto label{
	text-align: left;
	display: block;
}
#new_producto input,
#new_producto textarea{
	width: 100%;
	display: block;
	margin: 0px auto 30px auto;
	border: 1px solid silver;
}
#new_producto button{
	width: 100%;
	display: block;
	background-color: black;
	color: white;
	padding: 15px 0;
	margin-top: 20px;
}

#allProductos{
	width: 90%;
	display: block;
	margin: 20px auto;
	text-align: center;
}

#allProductos .row{
	display: inline-block;
	width: 300px;
	margin: 5px;
	vertical-align: top;
	overflow: hidden;
	border: 1px solid black;
}

#allProductos .row h2{
	display: block;
	margin: 5px;
	font-size: 15px;
}

#allProductos .row img{
	width: 90%;
	height: auto;
	display: block;
	margin: 5px auto;
}

#allProductos .row p{
	width: 100%;
	display: block;
	padding: 5px 20px;
}